admin-flatfile/
adminmenu/
basebans/
basecomm/
basecommands/
basevotes/
funcommands/
funvotes/
GameVoting/
include/
playercommands/
testsuite/

admin-sql-prefetch.sp
admin-sql-threaded.sp
adminhelp.sp
adminmenu.sp
antiflood.sp
basebans.sp
basechat.sp
basecomm.sp
basecommands.sp
basetriggers.sp
basevotes.sp
clientprefs.sp
compile*
funcommands.sp
funvotes.sp
mapchooser.sp
nextmap.sp
nominations.sp
playercommands.sp
randomcycle.sp
reservedslots.sp
rockthevote.sp
sounds.sp
spcomp*
sql-admin-manager.sp
